.marker-pin {
    width: 18px;
    height: 18px;
    border-radius: 0% 0% 0% 0%;
    background: rgba(128, 128, 128, 0.5);
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
    border-width: 1px;
  }
  
  .custom-div-icon-train .marker-pin::after {
      content: '';
      width: 15px;
      height: 15px;
      margin: 2px 2px 0px 0px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
   
.custom-div-icon-train i {
   background: transparent;
   border: 0px transparent;
   width:10px;
   height:10px;
   position: absolute;
   background-image: url(/train.png);
   background-size: 10px 10px;
   margin: 15px 7px 0px 0px;
}
  