.cluster-pin {
    width: 10px;
    height: 10px;
    border-radius: 50% 50% 50% 50%;
    background: #c30b82;
    position: absolute;
    left: 70%;
    top: 120%;
    margin: -10px 0 0 -10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  
.custom-div-icon-NoCluster i {
  background: transparent;
  border: 0px transparent;
  width:8px;
  height:8px;
  position: absolute;
  background-image: url(/mono-tab-remove.svg);
  background-size: 10px 10px;
  margin: 41px 10px 0px 0px;
}

.custom-div-icon-Cluster .cluster-pin:after {
  content: attr(cluster);
  position: absolute;
  margin: -1px 2px 0px 0px;
  color: white;
  font-size: xx-small;
}