[class*="horizontalScrollContainer"] {
    height: 50vh;
    direction: ltr;
}

[class*="horizontalScrollContainer"] table {
    direction: rtl;
}


div[style*="overflow-x: auto"]  {
    height: 50vh;
    direction: ltr;
}

div[style*="overflow-x: auto"] table {
    direction: rtl;
}

