.leaflet-draw-section { 
    display:none 
}

.drawBox {
    opacity: 0.8;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
}

.drawBox button {
    width: 30pxs;
    height: 30px;
    border-bottom: 1px solid #ccc;
    border-radius: 0%;
}

.drawBox .MuiButton-root {
    min-width: auto;
}

.drawBox .MuiIconButton-root {
    color: black;   
}

.leaflet-control-layers-list {
    max-height: 200px;
    overflow: auto;
}

.leaflet-control-layers-scrollbar {
    max-height: 200px;
    overflow: auto;
}

.leaflet-control-layers-expanded {
    max-height: 200px;
    overflow: auto;
}
