
.sidebar {
    position: relative;
    direction: ltr;
    z-index: 2;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
} 

.sidebar-right {
    right: 0;
}

.Button {
    width: 80%;
    margin: auto;
}

.sidebar .MuiTypography-h6 {
    padding-right: 24px;
    padding-top: 12px;
}

.flexContainer {
    display: flex;
    height: inherit;
    padding-bottom: 24px;
}

