.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0%;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    border-color: black;
    border-style: solid;
  }
  
  .custom-div-icon-building .marker-pin::after {
      content: '';
      width: 24px;
      height: 24px;
      margin: 3px 3px 0px 0px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
   
.custom-div-icon-building i {
   background: transparent;
   border: 0px transparent;
   width:15px;
   height:15px;
   position: absolute;
   background-image: url(/building.png);
   background-size: 15px 15px;
   margin: 15px 5px 0px 0px;
}
  