.marker-pin {
    width: 25px;
    height: 25px;
    border-radius: 0% 0% 0% 0%;
    background: rgba(128, 128, 128, 0.5);
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
    border-width: 1px;
  }
  
  .custom-div-icon-train .marker-pin::after {
      content: '';
      width: 20px;
      height: 20px;
      margin: 3px 3px 0px 0px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
   
.custom-div-icon-train i {
   background: transparent;
   border: 0px transparent;
   width:15px;
   height:15px;
   position: absolute;
   background-image: url(/train.png);
   background-size: 15px 15px;
   margin: 15px 5px 0px 0px;
}
  