.App {
  text-align: center;
  color: #242736;
}

main {
  left: 0;
  top: 100px;
  right: 200px;
  position: fixed;
  width: calc(100% - 262px);
}

.main_area {
  padding-right: 40px;
}

.border {
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 10px;
  opacity: 1;
}
