.menu-bar {
    padding-right: 5px;
}

.menu-bar .MuiIconButton-label{
    padding-right: 13px;
}

.SideBar .MuiPaper-root {
    background-color: #242736;
    width: 214px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.SideBar .MuiIconButton-root {
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #9F9F9F;
}

.SideBar .MuiIconButton-label {
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #9F9F9F;
}

.SideBar .active {
    color: #ffffff;
}
